/*-----------------------------------------------
    #HEADER
-----------------------------------------------*/
#header {
    display: none;
}


/*-----------------------------------------------
    #CONTAINER
-----------------------------------------------*/
#container {
    padding: 0;
}


/*-----------------------------------------------
    #FOOTER
-----------------------------------------------*/
#footer {
    display: none;
}