/*-----------------------------------------------
    #Utilisation des transitions
-----------------------------------------------*/

@mixin mytransition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
       -moz-transition: $transition-property $transition-time $method;
        -ms-transition: $transition-property $transition-time $method;
         -o-transition: $transition-property $transition-time $method;
            transition: $transition-property $transition-time $method;
}





/*-----------------------------------------------
    #Animation en CSS
-----------------------------------------------*/

@mixin keyframes($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @-ms-keyframes $animation-name {
        @content;
    }
    @-o-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}


@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}





/*--------------------------------------
    #BACKGROUND RGBA
--------------------------------------*/

@mixin rgba-background($color) {
    @include filter-gradient($color, $color);
    background: $color;
}
