/*-----------------------------------------------
    #TYPOGRAPHIE
-----------------------------------------------*/

body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}





/*-----------------------------------------------
    #FONT-FACE
-----------------------------------------------*/

@font-face {

}





/*-----------------------------------------------
    #HEADING
-----------------------------------------------*/

h1,
.h1 {

}


h2,
.h2 {

}


h3,
.h3 {

}





/*-----------------------------------------------
    #PARAGRAPH
-----------------------------------------------*/

strong { font-weight: bold; }
.error { color: #CC0000; }
.small { font-size: 12px; }
.big { font-size: 16px; }
.grey { color: #969CA4; }


.underline {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding-bottom: 15px;
}





/*-----------------------------------------------
    #LINK
-----------------------------------------------*/

a,
.a {

    color: #2FA3BA;
    text-decoration: none;

    &:hover,
    &.selected {
        color: #58C0D5;
        text-decoration: none;
    }
}





/*-----------------------------------------------
    #UL LIST
-----------------------------------------------*/

.square {
    list-style-type: square;
    padding-left: 15px;
}





/*-----------------------------------------------
    #ALIGNMENT
-----------------------------------------------*/

.align-center { text-align: center; }
.align-right { text-align: right; }
